:root{
  --bg: rgba(255, 255, 255, 0.8);
  --header-footer-bg: rgba(255, 224, 224, 0.63);
  --main-bg: #F9F7F9;
  --fg: #2b2b2b;
  --hover-fg: #ffffff;
  --muted: #6b7280;
  --brand: #4987fc;
  --menu-hover: rgba(255, 192, 192, 0.9);
  --font: 'Jua';
  --max-width: 1064px;
  --basic-height: calc(100vh - 150px - 100px);
}

* {
  padding: 0;
  margin: 0;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}