.diary-write-wrapper {
    width: 100%;
    height: 100%;
    background: var(--main-bg) ;
}
.diary-write-content {
    font-family: var(--font), sans-serif;
    margin: 0 auto;
    max-width: var(--max-width);
    height: 1000px;
}

.dairy-write-box {
    text-align: center;
}
.dairy-title {
    padding: 50px 0 50px 0;
    text-align: center;
    font-size: 2em
}

.dairy-title-input {
    font-family: var(--font), sans-serif;
    margin: 0 auto;
    width: 690px;
    height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.73);
    border-radius: 20px;
    text-align: left;
    padding-left: 10px;
    outline-color: #5e5e5e;
    font-size: 18px;
}

.dairy-title-textarea {
    font-family: var(--font), sans-serif;
    width: 690px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.73);
    border-radius: 20px;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    resize: none;

}

.dairy-save-button {
    margin-top: 40px;
    width: 200px;
    background: rgba(252, 126, 35, 0.65);
}

.dairy-save-button:hover {
    background: rgba(255, 107, 0, 0.85);
}