/* ===== ν‘Έν„° ===== */
footer {
    background: var(--header-footer-bg);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-top: 1px solid #eee;
}
